// app global css in SCSS form

.text-grand-hotel {
  font-family: 'Grand Hotel', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.constrain {
  max-width: 900px;
  margin: 0 auto;
}

.constrain-large {
  max-width: 600px;
  margin: 0 auto;
}